<div id="game-panel">
    <h1>{{ node_name|safe }}</h1>
    <p>{{ description|safe }}</p>

    {% if friend_requests %}
    <p>You have <a href="#">{{ friend_requests|length }} friend request{% if friend_requests|length != 1 %}s{% endif %}</a>.</p>
    {% endif %}

    <hr>
    <ul>
    {% if can_create_node %}
    <li>
        <a href="#"
           hx-get="/game/create-node"
           hx-target="#game-panel"
           hx-swap="innerHTML">
            Create a new space.
        </a>
    </li>
    {% else %}
    <li class="muted">Create a new space. (locked)</li>
    {% endif %}

    {% for option in options %}
        {% if option.available %}
        <li>
            <a href="#"
               hx-post="/game/do-action"
               hx-vals="{{ option.hx_vals_json | e }}"
               hx-ext="json-enc"
               hx-target="#game-panel"
               hx-swap="outerHTML">
                {{ option.display_text|safe }}
            </a>
        </li>
        {% else %}
        <li class="muted">{{ option.display_text|safe }} (locked)</li>
        {% endif %}
    {% endfor %}
    </ul>
    <hr>
</div>
