body {
    font-family: serif;
    background: #fff;
    color: #000;
    margin: 1em;
    max-width: 40em;
}

a:link {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

.muted { color: #666; }

a:link.link-no-memory,
a:visited.link-no-memory {
    color: #00e;
}

h1 {
    font-size: 1.75em;
    font-weight: bold;
    margin: 0.67em 0;
}

ul {
    padding-left: 2em;
}

fieldset {
    border: 1px solid #666;
    padding-left: 1em;
    padding-top: 0;
    padding-bottom: 0;
}

.meta {
    font-size: 0.85em;
    color: #666;
}
